@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@theme {
  --font-primary: "Manrope", sans-serif;

  --color-primary-neutral-900: hsl(230, 60%, 8%);
  --color-primary-neutral-400: hsl(227, 14%, 53%);
  --color-primary-neutral-000: hsl(0, 0%, 100%);
  --color-secondary-cyan-400: hsl(180, 66%, 49%);
  --color-secondary-red-4000: hsl(346, 100%, 58%);
  --color-secondary-blue-800: hsl(206, 85%, 22%);
  --color-secondary-blue-gray-500: hsl(204, 26%, 53%);
}

@layer base {
  body {
    font-family: var(--font-primary);
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: 0;
    color: var(--color-primary-neutral-400);
    background-color: var(--color-primary-neutral-900);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .text-preset-1 {
    @apply text-[2rem] md:text-5xl font-extrabold leading-[1.2];
  }

  .text-preset-2 {
    @apply text-[2.5rem] font-extrabold leading-[1.4];
  }

  .text-preset-3 {
    @apply text-[2rem] font-extrabold leading-[1.4];
  }

  .text-preset-4 {
    @apply text-lg font-extrabold leading-[1.4];
  }

  .text-preset-5 {
    @apply text-[.9375rem] font-medium leading-[1.6];
  }

  .text-preset-6 {
    @apply text-[.9375rem] font-extrabold leading-[1.4];
  }

  .text-preset-7 {
    @apply text-[.75rem] font-medium leading-[1.6];
  }
}
